*{
    font-size: 14px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
}
nav{
    width: 100%;
    min-height: 50px;
    background: rgba(0, 0, 0, 0.82);
}

input[type='text'],input[type='password'],input[type='number'],select,option{
    width: 222px;
    height: 30px;
    font-size: 14px;
    color: #555;
    border: 1px solid rgba(0, 0, 0, 0.33);
    border-radius: 4px;
}
input[type='button'],input[type='submit']{
    height: 30px;
    width: 122px;
    padding: 6px 12px;
    text-align: center;
    white-space: pre-wrap;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 4px;
    color: #fff;
    background-color: #337ab7;
    border: 1px solid #2e6da4;
}
input[type='button']:hover,input[type='button']:focus,input[type='submit']:hover,input[type='submit']:focus{
    color: #333;
}
hr{
    border:2px solid rgba(59, 102, 255, 0.56);
}
info{
    position: absolute;
    transform: translate(0,50px);
    top: 27%;
    display: block;
    width: 100%;
    height: 100%;
}
info_short{
    display: block;
    width: 100%;
    height: 20%;
    background: rgba(160, 220, 232, 0.55);
}
info_short>img{
    width: 22%;
    height: 88%;
    margin: 2%;
    transform: translate(-165%,0);
}
info_short>title{
    display: block;
    font-size: 1.7em;
    transform: translate(-8%,-450%);
}
info_short>price{
    display: block;
    font-size: 1.3em;
    transform: translate(20%,-600%);
}
info_short>content{
    display: block;
    font-size: 1.4em;
    transform: translate(3%,-510%);
}
info_short>time{
    display: block;
    font-size: 1.1em;
    transform: translate(35%,-550%);
}
ad_image{
    position: absolute;
    transform: translate(-50%,50px);
    width: 100%;
    height: 27%;
    background: url(../images/avatar.jpg) no-repeat center;
    background-size: 100% 100%;
}
/*手机*/
@media (orientation:portrait) {
    nav {
        background: #10b6ff;
    }
    nav>title{
        display: block;
        position: absolute;
        left: 50%;
        margin: 15px 0  0  -36px;
        font-size: 18px;
        color: #f8f8f8;
    }
    nav>project_title{
        display: none;
    }
    nav>avatar{
        margin-left: 1%;
        display: block;
        width: 50px;
        height: 100%;
        position: absolute;
        border-radius:27px ;
        background: url(../images/avatar.jpg) no-repeat center;
        background-size: 100% 100%;
    }
    .computer{
        display: none;
    }
}
/*电脑*/
@media (orientation:landscape) {
    nav>title{
        display: block;
        position: absolute;
        left: 72%;
        margin: 15px 0  0  -36px;
        font-size: 18px;
        color: #f8f8f8;
    }
    nav>project_title{
        display: block;
        position: absolute;
        left: 28%;
        margin: 15px 0  0  -36px;
        font-size: 22px;
        color: #00ed2b;
    }
}




















